* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    height: 200px;

}

.marioEluigi {
    height: 500px;
}

.p {
    color: white;
    font-family: "Poppins" sans-serif;
    font-size: 20px;
}

button {
    color: white;
    background: #c51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition: 0.5s;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
}

button:hover {
    background-color: #750000;

}

body {
    height: 100vh;
}

.caixa-principal {
    width: 40%;
}

.caixa-video {
    position: fixed;
    top: 0;
    z-index: -1;
}

video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.mascara-video {
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;

}

.caixa-mae {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    height: 100vh;
}

.link-whatsapp img {
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;


}

.header img {
    height: 60px;


}

.header a {
    color: white;
    font-size: 25px;
    cursor: pointer;
    font-style: normal;
    font-family: "Poppins" sans-serif;
}

.header a:hover {
    color: #c51111;
    transition: 0.3s ease-in-out;
    font-size: 28px;
}

.formulario-fale-conosco {
    background-color: white;
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: fixed;
    left: -300px;
    top: 30%;
    padding: 20px;
    border-radius: 5px;
    transition: left 1s ease-in-out;
}

input {

    right: 40px;
    border-radius: 5px;
    border: 2px solid gray;
    padding-left: 5px;
    outline-color: #18D80F;
}

textarea {
    width: 270px;
    height: 100px;
    border-radius:5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18D80F;
}

.mascara-formulario {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    transition: visibility ease-in-out 1s;
}

@media(max-width:1100px ) {

    p {
        display: none
    }

    .caixa-mae {
        flex-direction: column;
        padding: 10px;
        justify-content: flex-start;
    }

    .caixa-principal {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .marioEluigi {
        width: 80vw;
        right: auto;

    }

    .header {
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header img {
        display: none;
    }

    .header a {
        font-size: 16px;
    }


}